{
  "openapi": "3.0.3",
  "info": {
    "title": "AldoRed RPA Contable API",
    "description": "# AldoRed RPA Contable API\n\nAPI para automatización de procesos contables con integración al SII (Servicio de Impuestos Internos) de Chile. RPA contable segura con proxy SSL y contenedores aislados.\n\n## Importante: Pruebas de la API\n\n**Los ejemplos del navegador pueden fallar por CORS.** Esto es normal y no indica un problema con la API.\n\n### Formas recomendadas de probar:\n\n1. **Postman** - Importa este archivo OpenAPI\n2. **cURL** - Usa los ejemplos de cada endpoint\n3. **Tu aplicación** - Funciona perfectamente desde aplicaciones reales\n\n### Autenticación\n\nTodos los endpoints requieren un Bearer token:\n```\nAuthorization: Bearer tu_token_aqui\n```\n\n### Soporte\n\n¿Problemas? Escríbenos a: aldo@aldored.com",
    "version": "1.4.0",
    "contact": {
      "name": "AldoRed Support",
      "email": "aldo@aldored.com",
      "url": "https://aldored.com"
    },
    "license": {
      "name": "Commercial",
      "url": "https://aldored.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.aldored.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/sii/rcv/informe-previo/{periodos}": {
      "post": {
        "summary": "RCV Informe Previo",
        "description": "Genera un informe previo de registro de compra y ventas de los últimos N meses (especificado por el parámetro 'periodos') - Descarga archivo ZIP con PDF y EXCEL",
        "tags": ["SII - RCV"],
        "parameters": [
          {
            "name": "periodos",
            "in": "path",
            "required": true,
            "description": "Número de meses hacia atrás a consultar (rango: 1-12, por defecto: 12)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12,
              "default": 12,
              "example": 12
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SIICredentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Archivo ZIP con el informe previo",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Error en los parámetros de entrada"
          },
          "401": {
            "description": "Token de autorización inválido"
          },
          "403": {
            "description": "Credenciales SII inválidas"
          },
          "429": {
            "description": "Límite de consultas excedido"
          }
        }
      }
    },
    "/sii/bte/emitidas/documentos/{emisor}/{periodo}": {
      "post": {
        "summary": "BTE Emitidas",
        "description": "Boletas Tributarias Electrónicas emitidas por periodo (YYYYMM).\n\n### Ejemplo cURL:\n\n```bash\ncurl -X POST \"https://api.aldored.com/sii/bte/emitidas/documentos/12345678-9/202501\" \\\n  -H \"Authorization: Bearer TU_API_TOKEN\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"auth\": {\n      \"pass\": {\n        \"rut\": \"12345678-9\",\n        \"clave\": \"tu_clave_sii\"\n      }\n    }\n  }'\n```\n\n### Nota:\nEste endpoint funciona perfectamente desde aplicaciones reales. Los errores de CORS solo ocurren al probar desde el navegador.",
        "tags": ["SII - BTE"],
        "parameters": [
          {
            "name": "emisor",
            "in": "path",
            "required": true,
            "description": "RUT del emisor (formato: 12345678-9)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{7,8}-[\\dkK]$",
              "example": "12345678-9"
            }
          },
          {
            "name": "periodo",
            "in": "path",
            "required": true,
            "description": "Período a consultar (formato: YYYYMM)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{6}$",
              "example": "202501"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SIICredentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista de BTE emitidas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BTEResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error en los parámetros de entrada"
          },
          "401": {
            "description": "Token de autorización inválido"
          },
          "403": {
            "description": "Credenciales SII inválidas"
          },
          "429": {
            "description": "Límite de consultas excedido"
          }
        }
      }
    },
    "/sii/bhe/recibidas/documentos/{receptor}/{periodo}": {
      "post": {
        "summary": "BHE Recibidas",
        "description": "Boletas de Honorarios recibidas por periodo (YYYYMM)",
        "tags": ["SII - BHE"],
        "parameters": [
          {
            "name": "receptor",
            "in": "path",
            "required": true,
            "description": "RUT del receptor (formato: 12345678-9)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{7,8}-[\\dkK]$",
              "example": "12345678-9"
            }
          },
          {
            "name": "periodo",
            "in": "path",
            "required": true,
            "description": "Período a consultar (formato: YYYYMM)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{6}$",
              "example": "202501"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SIICredentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista de BHE recibidas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BHEResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error en los parámetros de entrada"
          },
          "401": {
            "description": "Token de autorización inválido"
          },
          "403": {
            "description": "Credenciales SII inválidas"
          },
          "429": {
            "description": "Límite de consultas excedido"
          }
        }
      }
    },
    "/api/RCV/compras/{year}/{month}": {
      "post": {
        "summary": "RCV Compras Mensual",
        "description": "Consulta RCV de compras por mes (YYYY/MM)",
        "tags": ["SII - RCV"],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "Año (formato: YYYY)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}$",
              "example": "2025"
            }
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "description": "Mes (formato: MM)",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])$",
              "example": "01"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SIICredentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Datos de RCV compras mensual",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RCVResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error en los parámetros de entrada"
          },
          "401": {
            "description": "Token de autorización inválido"
          },
          "403": {
            "description": "Credenciales SII inválidas"
          },
          "429": {
            "description": "Límite de consultas excedido"
          }
        }
      }
    },
    "/api/RCV/compras/{year}/{month}/{day}": {
      "post": {
        "summary": "RCV Compras por Día",
        "description": "Consulta RCV de compras por fecha específica (DD/MM/YYYY)",
        "tags": ["SII - RCV"],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "Año (formato: YYYY)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}$",
              "example": "2025"
            }
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "description": "Mes (formato: MM)",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])$",
              "example": "01"
            }
          },
          {
            "name": "day",
            "in": "path",
            "required": true,
            "description": "Día (formato: DD)",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|[12]\\d|3[01])$",
              "example": "15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SIICredentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Datos de RCV compras por día",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RCVResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error en los parámetros de entrada"
          },
          "401": {
            "description": "Token de autorización inválido"
          },
          "403": {
            "description": "Credenciales SII inválidas"
          },
          "429": {
            "description": "Límite de consultas excedido"
          }
        }
      }
    },
    "/api/RCV/ventas/{year}/{month}/{day}": {
      "post": {
        "summary": "RCV Ventas",
        "description": "Consulta RCV de ventas por fecha específica (DD/MM/YYYY)",
        "tags": ["SII - RCV"],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "Año (formato: YYYY)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}$",
              "example": "2025"
            }
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "description": "Mes (formato: MM)",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|1[0-2])$",
              "example": "01"
            }
          },
          {
            "name": "day",
            "in": "path",
            "required": true,
            "description": "Día (formato: DD)",
            "schema": {
              "type": "string",
              "pattern": "^(0[1-9]|[12]\\d|3[01])$",
              "example": "15"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SIICredentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Datos de RCV ventas por día",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RCVResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error en los parámetros de entrada"
          },
          "401": {
            "description": "Token de autorización inválido"
          },
          "403": {
            "description": "Credenciales SII inválidas"
          },
          "429": {
            "description": "Límite de consultas excedido"
          }
        }
      }
    },
    "/sii/f22/{year}": {
      "post": {
        "summary": "F22 Declaración de Renta",
        "description": "Consulta el estado de la Declaración de Renta (Formulario 22) de un contribuyente para el año tributario indicado. Inicia sesión en el SII, selecciona el período y extrae folio, estado, situación tributaria y observaciones.",
        "tags": ["SII - F22"],
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "required": true,
            "description": "Año tributario a consultar (ej: 2025)",
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100,
              "example": 2025
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SIICredentials"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estado de la Declaración de Renta para el año indicado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/F22Response"
                }
              }
            }
          },
          "400": {
            "description": "Error en los parámetros de entrada"
          },
          "401": {
            "description": "Token de autorización inválido"
          },
          "403": {
            "description": "Credenciales SII inválidas"
          },
          "429": {
            "description": "Límite de consultas excedido"
          }
        }
      }
    },
    "/buk/crear-nueva-api-key/": {
      "post": {
        "summary": "BUK - Crear Nueva API Key",
        "description": "Crear una nueva API Key para integración con BUK",
        "tags": ["BUK"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAPIKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API Key creada exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error en los parámetros de entrada"
          },
          "401": {
            "description": "Token de autorización inválido"
          },
          "429": {
            "description": "Límite de consultas excedido"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Token de autorización requerido. Formato: Bearer <tu_api_key>"
      }
    },
    "schemas": {
      "SIICredentials": {
        "type": "object",
        "required": ["auth"],
        "properties": {
          "auth": {
            "type": "object",
            "required": ["pass"],
            "properties": {
              "pass": {
                "type": "object",
                "required": ["rut", "clave"],
                "properties": {
                  "rut": {
                    "type": "string",
                    "description": "RUT para login en SII",
                    "pattern": "^\\d{7,8}-[\\dkK]$",
                    "example": "12345678-9"
                  },
                  "clave": {
                    "type": "string",
                    "description": "Clave de acceso al SII",
                    "format": "password",
                    "example": "password123"
                  }
                }
              }
            }
          }
        }
      },
      "BTEResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "error"],
            "description": "Estado de la respuesta"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BTEDocument"
            }
          },
          "total_documentos": {
            "type": "integer",
            "description": "Total de documentos encontrados"
          },
          "periodo": {
            "type": "string",
            "description": "Período consultado"
          }
        }
      },
      "BTEDocument": {
        "type": "object",
        "properties": {
          "numero_documento": {
            "type": "string",
            "description": "Número del documento"
          },
          "fecha_emision": {
            "type": "string",
            "format": "date",
            "description": "Fecha de emisión"
          },
          "monto_neto": {
            "type": "number",
            "description": "Monto neto del documento"
          },
          "monto_iva": {
            "type": "number",
            "description": "Monto IVA del documento"
          },
          "monto_total": {
            "type": "number",
            "description": "Monto total del documento"
          },
          "rut_receptor": {
            "type": "string",
            "description": "RUT del receptor"
          }
        }
      },
      "BHEResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "error"],
            "description": "Estado de la respuesta"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BHEDocument"
            }
          },
          "total_documentos": {
            "type": "integer",
            "description": "Total de documentos encontrados"
          },
          "periodo": {
            "type": "string",
            "description": "Período consultado"
          }
        }
      },
      "BHEDocument": {
        "type": "object",
        "properties": {
          "numero_documento": {
            "type": "string",
            "description": "Número del documento"
          },
          "fecha_emision": {
            "type": "string",
            "format": "date",
            "description": "Fecha de emisión"
          },
          "monto_honorarios": {
            "type": "number",
            "description": "Monto de honorarios"
          },
          "retencion": {
            "type": "number",
            "description": "Monto de retención"
          },
          "monto_liquido": {
            "type": "number",
            "description": "Monto líquido a pagar"
          },
          "rut_emisor": {
            "type": "string",
            "description": "RUT del emisor"
          },
          "nombre_emisor": {
            "type": "string",
            "description": "Nombre del emisor"
          }
        }
      },
      "RCVResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "error"],
            "description": "Estado de la respuesta"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RCVDocument"
            }
          },
          "total_documentos": {
            "type": "integer",
            "description": "Total de documentos encontrados"
          },
          "fecha_consulta": {
            "type": "string",
            "description": "Fecha consultada"
          }
        }
      },
      "RCVDocument": {
        "type": "object",
        "properties": {
          "tipo_documento": {
            "type": "string",
            "description": "Tipo de documento (33, 34, 56, etc.)"
          },
          "numero_documento": {
            "type": "string",
            "description": "Número del documento"
          },
          "fecha_documento": {
            "type": "string",
            "format": "date",
            "description": "Fecha del documento"
          },
          "rut_proveedor": {
            "type": "string",
            "description": "RUT del proveedor"
          },
          "razon_social": {
            "type": "string",
            "description": "Razón social del proveedor"
          },
          "monto_neto": {
            "type": "number",
            "description": "Monto neto"
          },
          "monto_iva": {
            "type": "number",
            "description": "Monto IVA"
          },
          "monto_total": {
            "type": "number",
            "description": "Monto total"
          }
        }
      },
      "CreateAPIKeyRequest": {
        "type": "object",
        "required": ["nombre", "vence", "scopes"],
        "properties": {
          "nombre": {
            "type": "string",
            "description": "Nombre o propósito de la API Key",
            "example": "Integración contabilidad automatizada"
          },
          "vence": {
            "type": "string",
            "format": "date",
            "description": "Fecha de vencimiento (YYYY-MM-DD)",
            "example": "2025-12-31"
          },
          "scopes": {
            "type": "string",
            "description": "Permisos separados por coma",
            "example": "read:employees,write:payroll"
          }
        }
      },
      "APIKeyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "error"],
            "description": "Estado de la respuesta"
          },
          "api_key": {
            "type": "string",
            "description": "Nueva API Key generada"
          },
          "nombre": {
            "type": "string",
            "description": "Nombre de la API Key"
          },
          "vence": {
            "type": "string",
            "format": "date",
            "description": "Fecha de vencimiento"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lista de permisos asignados"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Fecha de creación"
          }
        }
      },
      "F22Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "properties": {
              "periodo": {
                "type": "integer",
                "description": "Año tributario consultado",
                "example": 2024
              },
              "fechaSistema": {
                "type": "string",
                "example": "2026"
              },
              "contribuyente": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "rut": { "type": "string", "example": "77710636-8" },
                  "razonSocial": {
                    "type": "string",
                    "example": "EMPRESA EJEMPLO S.A."
                  }
                }
              },
              "declaracion": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "folio": { "type": "integer", "example": 316644584 },
                  "estado": {
                    "type": "string",
                    "enum": [
                      "Recibida",
                      "Aceptada",
                      "Aceptada con observaciones",
                      "Rechazada"
                    ],
                    "example": "Aceptada"
                  },
                  "estadoCodigo": {
                    "type": "string",
                    "enum": ["ENV", "ACE", "ODT", "RCH"],
                    "example": "ACE"
                  },
                  "fechaPresentacion": {
                    "type": "string",
                    "example": "11/04/2024"
                  },
                  "impugnada": { "type": "boolean", "example": false },
                  "situacionTributaria": {
                    "type": "object",
                    "properties": {
                      "tipo": {
                        "type": "string",
                        "enum": ["devolucion", "a_pagar", "calzado"],
                        "example": "calzado"
                      },
                      "monto": {
                        "type": "integer",
                        "description": "Monto en CLP; 0 si calzado",
                        "example": 0
                      }
                    }
                  },
                  "observaciones": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "codigo": { "type": "string", "example": "F135" },
                        "glosa": {
                          "type": "string",
                          "example": "Texto de la observación"
                        }
                      }
                    }
                  }
                }
              },
              "motivo": {
                "type": "object",
                "description": "Presente cuando no hay declaración o hay un error de período",
                "nullable": true,
                "properties": {
                  "codigo": {
                    "type": "string",
                    "enum": [
                      "SIN_DECLARACION",
                      "CONTRIBUYENTE_NO_ENCONTRADO",
                      "PERIODO_FUTURO"
                    ],
                    "example": "SIN_DECLARACION"
                  },
                  "descripcion": { "type": "string" }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["error"]
          },
          "message": {
            "type": "string",
            "description": "Mensaje de error"
          },
          "code": {
            "type": "integer",
            "description": "Código de error"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "SII - RCV",
      "description": "Registro de Compras y Ventas del SII"
    },
    {
      "name": "SII - BTE",
      "description": "Boletas Tributarias Electrónicas"
    },
    {
      "name": "SII - BHE",
      "description": "Boletas de Honorarios Electrónicas"
    },
    {
      "name": "SII - F22",
      "description": "Declaración de Renta - Formulario 22"
    },
    {
      "name": "BUK",
      "description": "Integración con plataforma BUK"
    }
  ]
}
